{% extends "inventoryy/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <section class="content-section pl-0 pr-0 login">
        <form method="POST">
            {% csrf_token %}
            <section class="form-group">
                <h3 class="border-bottom text-center pb-2">Login</h3>
                <section class="border-bottom pr-5 pl-5 mb-4">
                    {{ form|crispy }}
                </section>
            </section>
            <section class="form-group text-center">
                <button class="btn btn-outline-info mr-2" type="submit">Sign In</button>
                <button class="btn btn-outline-info ml-2" type="reset">Reset</button>
            </section>
            <section class="form-group text-center">
                <a href="{% url 'password_reset' %}">Forgot Password?</a>
            </section>
        </form>
        <section class="border-top pt-2">
            <p class="text-center">Need to create an Account?</br><a href="{% url 'register' %}">Sign Up</a></p>
        </section>
    </section>
{% endblock content %}