{% extends "inventoryy/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <section class="content-section pl-0 pr-0 login">
        <form method="POST">
            {% csrf_token %}
            <section class="form-group">
                <h3 class="border-bottom text-center pb-2">Reset Password</h3>
                <section class="border-bottom pr-5 pl-5 mb-4">
                    {{ form|crispy }}
                </section>
            </section>
            <section class="form-group text-center">
                <button class="btn btn-outline-info mr-2" type="submit">Request Password Reset</button>
            </section>
        </form>
    </section>
{% endblock content %}